html, body {
  max-width: 100%;
  overflow-x: hidden;
  display: grid;
  height: 100vh;
}

h1 {
  font-family: 'Karla', sans-serif;
  font-size: 70px;
  text-align: center;
}


html {
  background-image: url(./Images/aleesha-wood-sM1jrEllC3U-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  
  }

  body {
    background-color: rgba(209, 209, 209, 0.815);
  }
